@font-face {
  font-family: Glitch;
  src: url('./assets/fonts/glitch.ttf');
}

@font-face {
  font-family: Quantico;
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/quantico.woff2') format('woff2');
}
@font-face {
  font-family: Quantico;
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/quantico-bold.woff2') format('woff2');
}
@font-face {
  font-family: Quantico;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/quantico-italic.woff2') format('woff2');
}
@font-face {
  font-family: Quantico;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('./assets/fonts/quantico-bolditalic.woff2') format('woff2');
}

@font-face {
  font-family: Pixel;
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/pixel.ttf');
}

:root {
  --clr-white: #f1f1f1;
  --clr-black: #0f0f0f;
  --clr-red1: #fd0202;
  --clr-red2: #700504;
  --clr-red3: #4f0707;
  --clr-red4: rgba(35, 0, 0, 0.5);

  --screen-xxl: 1536px;
  --screen-xl: 1280px;
  --screen-lg: 1024px;
  --screen-md: 768px;
  --screen-sm: 640px;

  font-family: Quantico;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: dark;
  color: var(--clr-red1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--clr-red1);
  color: var(--clr-white);
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  min-height: 100svh;
  min-width: 100svw;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

a {
  color: var(--clr-red1);
  will-change: text-shadow;
  transition: text-shadow 100ms;
}

a:hover {
  text-shadow: 0 0 20px var(--clr-red1);
}

.dark-bg {
  background-color: rgba(0, 0, 0, 0.5);
}
